<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/html" lang="en">
    <th:head>
        <script th:inline="javascript">
            async function drawPolygon(){
                const response = await fetch('/mapData/KoyMahalle');
                const shapeData = await response.json();
                const bbox = await shapeData.bbox;
                const polyDatas = await shapeData.polyTypeDatas;
                const mapCanvas = await document.getElementById('polygonMapCanvas');
                const ctx = await mapCanvas.getContext('2d');

                if(mapCanvas.getContext){
                    polyDatas.forEach(function(polyData){
                        drawLine(polyData.parts, polyData.points, bbox, mapCanvas, ctx);
                    });
                }
            }

            async function drawPolyLine(){
                const response = await fetch('/mapData/Hatlar');
                const shapeData = await response.json();
                const bbox = await shapeData.bbox;
                const polyDatas = await shapeData.polyTypeDatas;
                const mapCanvas = await document.getElementById('polyLineMapCanvas');
                const ctx = await mapCanvas.getContext('2d');

                if(mapCanvas.getContext){
                    polyDatas.forEach(function(polyData){
                        drawLine(polyData.parts, polyData.points, bbox, mapCanvas, ctx);
                    });
                }
            }

            async function drawPoint(){
                const response = await fetch('/mapData/Duraklar');
                const shapeData = await response.json();
                const bbox = await shapeData.bbox;
                const points = await shapeData.points;

                const mapCanvas = document.getElementById('pointMapCanvas');
                if(mapCanvas.getContext){
                    const ctx = mapCanvas.getContext('2d');
                    points.forEach(point => {
                        let trPoint = scalePoint(point.x, point.y, bbox, mapCanvas);
                        ctx.beginPath();
                        ctx.arc(trPoint.x, trPoint.y, 2, 0, 2 * Math.PI);
                        ctx.fill();
                    });
                }
            }

            function scalePoint(x, y, bbox, canvas){
                let transformX = ((bbox.maxX - x) / (bbox.maxX - bbox.minX)) * canvas.width;
                let transformY = ((bbox.maxY - y) / (bbox.maxY - bbox.minY)) * canvas.height;
                return {x : transformX, y: transformY};
            }

            function drawLine(parts, points, bbox, canvas, ctx){
                parts.forEach(function() {
                    ctx.beginPath();
                    points.forEach((start, index) => {
                        let point = scalePoint(points[index].x, points[index].y, bbox, canvas);
                        if (index === 0) {
                            ctx.moveTo(point.x, point.y);
                        } else {
                            ctx.lineTo(point.x, point.y);
                        }
                    });
                    ctx.stroke();
                });
            }

            window.onload = drawPoint();
            window.onload = drawPolygon();
            window.onload = drawPolyLine();
        </script>
    </th:head>
    <th:body>
        <canvas id="pointMapCanvas" width="800" height="500" style="border:1px solid"></canvas>
        <canvas id="polyLineMapCanvas" width="800" height="500" style="border:1px solid"></canvas>
        <canvas id="polygonMapCanvas" width="800" height="500" style="border:1px solid"></canvas>
    </th:body>

</html>